*{
    padding: 0;
    margin: 0;
}

#left{
  
     height: 100vh;
     width: 80%;

     background: url(/image/backeweather.jpg) no-repeat center center/cover;      

 
}


#full{
    display: flex;
}

#block{

      height: 200px;
       width: 35% ;
        background-color: white;
         margin-top: 130px;
          margin-left: 30px;
}

label{
        
    color: white;
}
#time{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0%  10%;
         padding-top: 20%;
          font-weight: 500;
           font-size: 50px;
        
}
  
#date{
      
      font-weight: 300;
       font-size: 15px;
        padding: 0% 0%;
         padding-left: 12%; 
}


#right{
     background-color:#c26e6e;
     margin: 4px 4px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
}

#righttop{
     background-color:;
     height: 50%;
}



#location{
     margin:22px 0px ;
      padding: 10px 20px;
     

}
#info{

     list-style:circle;
     padding-left: 30px;
      
      
      
}
#info h4{
     padding-bottom :30px;
      color: white;
       text-decoration: underline;
        font-family:Georgia, 'Times New Roman', Times, serif;
}

#info li{
    padding:12px 0px;
     color: white;
}

#righttop{
      padding-top: 30px ;
         padding-left: 30px;
     
}

#rightbottom{
      
    background-color:;
   padding: 40px 0px;
    
    

}
